.background{
    padding-bottom: 15px;
    position: static;
    background-color: #0525c7;
}
.notify{
    padding-top: 10px;
    text-align: center;
    color: white;
}
.nav-item{
    margin: 0px 10px;
}
.navbar-brand{
    margin-right: 20px;
    margin-left: 20px;
    font-family: sans-serif;
}
hr.style1{
    margin-top: 0rem ;
	border-top: 2px solid blue;
}
.img-fluid{
    z-index: -1;
    position: absolute;
    margin-top: -1em;
    width: 1920px;
}
.title{
    color: blue;
    font-size: 90px;
    position: relative;
    top: 200px;
}